{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    

</head>

<body>
 <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cart_length == 0 %}
                                <h1 style="color: blue; margin-left: 400px;">No Product In Your Cart</h1>
                                {% else %}
                                {% for i in carts %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
									<img class="img-fluid" src="{{i.product.product_image.url}}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
									{{i.product.product_name}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{i.product.product_price}}</p>
                                    </td>
                                    <form method="post" action="{% url 'change_qty' pk=i.pk %}">
                                    {% csrf_token %}
                                    <td class="quantity-box"><input type="number" name="product_qty" size="4" value="{{i.product_qty}}" min="0" step="1" class="c-input-text qty text" onchange="this.form.submit();"></td>
                                    </form>
                                    <td class="total-pr">
                                        <p>{{i.total_price}}</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'remove_from_cart' pk=i.product.pk%}">
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

                            <hr class="mb-1"> 
                            <hr class="mb-1"> 
            

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12">
                    <h3>Up to 1000 No Discount</h3>
                    <h3>1000  to 5000 5% Discount</h3>
                    <h3>5000 to 10000 10% Discount</h3>
                    <h3>10000 to 20000 12% Discount</h3>
                    <h3>20000 to 25000 15% Discount</h3>
                    <h3>25000 above 20% Discount</h3>

                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold">{{subtotal}}</div>
                        </div>
                        {% if msg %}
                                <b style="color: blue; margin-left: 250px;">{{msg}}</b>
                            {% endif %}
                        <div class="d-flex">

                            <h4>Discount</h4>
                            <div class="ml-auto font-weight-bold">{{discount}}</div>
                        </div>
                        <hr class="my-1">
                        
                        <div class="d-flex">
                            <h4>Tax</h4>
                            <div class="ml-auto font-weight-bold">{{tax}}%</div>
                        </div>
                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold"> Free </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5">{{total}}</div>
                        </div>
                        <hr> 
                    </div>
                </div>
                {% if cart_length == 0 %}
                <div class="col-12 d-flex shopping-box"><a href="#" class="ml-auto btn hvr-hover">Checkout</a> 
                </div>
                {% else %}
                <div class="col-12 d-flex shopping-box"><a href="{% url 'checkout' %}" class="ml-auto btn hvr-hover">Checkout</a> 
                </div>
                {% endif %}
            </div>
            <div class="btn btn-primary"  style="margin-left: 300px; width: 500px" > <a href="{% url 'index' %}" style=" color: white;" >Contineu Shoping</a> 
                        </div>
        </div>
    </div>
    <!-- End Cart -->

    
</body>

</html>
{% endblock  %}