{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    

</head>

<body>


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Payment Status</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">order</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            
                            <h1 style="color: green; margin-left: 300px;">Sorry Somthing Want To Worng. Your Payment Faild.</h1>
                        </table>

                            <a href="{% url 'index' %}" class="btn btn-primary" style="margin-left: 980px;">Back To Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->

    
</body>

</html>
{% endblock %}