{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    
</head>

<body>
 <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Account</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->



   
    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-6 col-lg-7 mb-3">
                    <div class="title-left">
                        <h3 style="color: blue;">Forgote Password</h3>
                    </div>
               
                    {% if msg %}
                        <b style="color: blue;">{{msg}}</b>
                    {% endif %}
                    <form  id="formRegister" method="post" action="{% url 'forgote_password' %}" enctype="multipart/form-data" name="frm">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                
                                <input type="email"   name="email" class="form-control" id="InputEmail1" placeholder="Enter Email" style="border-radius: 10px; border-width: 1px; border-color: purple;" required onblur="checkEmail()">
                                <span class="span" id="email" style="color: blue;"></span>

                            </div>
                         </div>
                        <button type="submit" class="btn hvr-hover" style="margin-left: 110px; width: 200px; border-radius: 10px; color: white;">Sand OTP</button>
                    </form>
                </div>
                
            </div>

        </div>
    </div>   
   
    
    
</body>

</html>
{% endblock %}