{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    

</head>

<body>


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form method="post" action="{% url 'search' %}">
                                {% csrf_token %}
                                <input class="form-control" placeholder="Search here..." type="text" name="search">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Boys <small class="text-muted">(5)</small>
								</a>
                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="{% url 'category' name='boy_cloth' %}" class="list-group-item list-group-item-action active"  >Clothing <small class="text-muted">(6)</small></a>
                                            <a href="{% url 'category' name='boy_shoes' %}" class="list-group-item list-group-item-action"> Footwear<small class="text-muted">(10)</small></a>
                                            <a href="{% url 'category' name='boy_watch' %}" class="list-group-item list-group-item-action"> Watch <small class="text-muted">(5)</small></a>
                                            <a href="{% url 'category' name='boy_belt' %}" class="list-group-item list-group-item-action"> Belt<small class="text-muted">(3)</small></a>
                                            <a href="{% url 'category' name='boy_wallet' %}" class="list-group-item list-group-item-action"> Wallet <small class="text-muted">(4)</small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Girls<small class="text-muted">(50)</small>
								</a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="{% url 'category' name='girl_cloth' %}" class="list-group-item list-group-item-action"> Clothing<small class="text-muted">(10)</small></a>
                                            <a href="{% url 'category' name='girl_shoes' %}" class="list-group-item list-group-item-action">Footwear<small class="text-muted">(20)</small></a>
                                            <a href="{% url 'category' name='girl_watch' %}" class="list-group-item list-group-item-action"> Watch <small class="text-muted">(20)</small></a>
                                             <a href="{% url 'category' name='girl_jewelry' %}" class="list-group-item list-group-item-action">Jewelry<small class="text-muted">(10)</small></a>
                                            <a href="{% url 'category' name='girl_bag' %}" class="list-group-item list-group-item-action">Bag<small class="text-muted">(20)</small></a>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men3" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men3">Kids<small class="text-muted">(50)</small>
                                </a>
                                    <div class="collapse" id="sub-men3" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="{% url 'category' name='kids_cloth' %}" class="list-group-item list-group-item-action"> Clothing<small class="text-muted">(10)</small></a>
                                            <a href="{% url 'category' name='kids_shoes' %}" class="list-group-item list-group-item-action">Footwear<small class="text-muted">(20)</small></a>
                                            <a href="{% url 'category' name='kids_watch' %}" class="list-group-item list-group-item-action"> Watch <small class="text-muted">(20)</small></a>
                                             <a href="{% url 'category' name='kids_toy' %}" class="list-group-item list-group-item-action">Toy<small class="text-muted">(10)</small></a>
                                            <a href="{% url 'category' name='kids_bag' %}" class="list-group-item list-group-item-action">Bag<small class="text-muted">(20)</small></a>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men4" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men4">Accessories<small class="text-muted">(50)</small>
                                </a>
                                    <div class="collapse" id="sub-men4" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="{% url 'category' name='mobile' %}" class="list-group-item list-group-item-action"> Mobile<small class="text-muted">(10)</small></a>
                                            <a href="{% url 'category' name='sunglass' %}" class="list-group-item list-group-item-action">Sunglasses<small class="text-muted">(20)</small></a>
                                            <a href="{% url 'category' name='couple_watch' %}" class="list-group-item list-group-item-action"> Cople Watch <small class="text-muted">(20)</small></a>
                                             <a href="{% url 'category' name='other' %}" class="list-group-item list-group-item-action">Other<small class="text-muted">(10)</small></a>
                                            
                                            
                                        </div>
                                    </div>
                                </div>




                                
                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <form method="post" action="{% url 'price' %}">
                                {% csrf_token %}

                                <select style="width: 250px; height: 30px;" name="price" onchange="this.form.submit();">
                                    {% if price == '1' %}

                                    <option value="0">Select Price</option>
                                    <option value="1" selected>Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% elif price == '2' %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2"  selected>1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% elif price == '3' %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3" selected>2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% elif price == '4' %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4" selected>4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% elif price == '5' %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5" selected>5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% elif price == '6' %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6" selected>7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% elif price == '7' %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7" selected>8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% elif price == '8' %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8" selected>10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% elif price == '9' %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9" selected>above 15000</option>
                                    {% else %}
                                    <option value="0">Select Price</option>
                                    <option value="1">Up To 1000</option>
                                    <option value="2">1001-2500</option>
                                    <option value="3">2501-4000</option>
                                    <option value="4">4001-5000</option>
                                    <option value="5">5001-7000</option>
                                    <option value="6">7001-8600</option>
                                    <option value="7">8601-10000</option>
                                    <option value="8">10001-15000</option>
                                    <option value="9">above 15000</option>
                                    {% endif %}


                                </select>
                                </form>
                            </div>
                        </div>
                        <div class="filter-brand-left">
                            <div class="title-left">
                                <h3>Brand</h3>
                            </div>
                            <div class="brand-box">
                                <form method="post" action="{% url 'brand' %}">
                                    {% csrf_token %}
                                <ul>

                                    {% if brand == 'all' %}
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios1" value="all" type="radio" onchange="this.form.submit();" checked>
                                            <label for="Radios1" >All </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios2" value="adidas" type="radio" onchange="this.form.submit();">
                                            <label for="Radios2">Adidas </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios3" value="sony" type="radio" onchange="this.form.submit();">
                                            <label for="Radios3">Sony</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios4" value="canvas" type="radio" onchange="this.form.submit();">
                                            <label for="Radios4">Canvas</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios5" value="onepluse" type="radio" onchange="this.form.submit();">
                                            <label for="Radios5">One-Plus</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios6" value="vivo" type="radio" onchange="this.form.submit();">
                                            <label for="Radios6">Vivo</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios7" value="fastrak" type="radio" onchange="this.form.submit();">
                                            <label for="Radios7">Fastrak</label>
                                        </div>
                                    </li>
                                    {% elif brand == 'adidas' %}
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios1" value="all" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios1" >All </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios2" value="adidas" type="radio" onchange="this.form.submit();" checked>
                                            <label for="Radios2">Adidas </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios3" value="sony" type="radio" onchange="this.form.submit();">
                                            <label for="Radios3">Sony</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios4" value="canvas" type="radio" onchange="this.form.submit();">
                                            <label for="Radios4">Canvas</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios5" value="onepluse" type="radio" onchange="this.form.submit();">
                                            <label for="Radios5">One-Plus</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios6" value="vivo" type="radio" onchange="this.form.submit();">
                                            <label for="Radios6">Vivo</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios7" value="fastrak" type="radio" onchange="this.form.submit();">
                                            <label for="Radios7">Fastrak</label>
                                        </div>
                                    </li>

                                    {% elif brand == 'sony' %}
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios1" value="all" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios1" >All </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios2" value="adidas" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios2">Adidas </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios3" value="sony" type="radio" onchange="this.form.submit();" checked>
                                            <label for="Radios3">Sony</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios4" value="canvas" type="radio" onchange="this.form.submit();">
                                            <label for="Radios4">Canvas</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios5" value="onepluse" type="radio" onchange="this.form.submit();">
                                            <label for="Radios5">One-Plus</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios6" value="vivo" type="radio" onchange="this.form.submit();">
                                            <label for="Radios6">Vivo</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios7" value="fastrak" type="radio" onchange="this.form.submit();">
                                            <label for="Radios7">Fastrak</label>
                                        </div>
                                    </li>

                                    {% elif brand == 'canvas' %}
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios1" value="all" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios1" >All </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios2" value="adidas" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios2">Adidas </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios3" value="sony" type="radio" onchange="this.form.submit();">
                                            <label for="Radios3">Sony</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios4" value="canvas" type="radio" onchange="this.form.submit();" checked>
                                            <label for="Radios4">Canvas</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios5" value="onepluse" type="radio" onchange="this.form.submit();">
                                            <label for="Radios5">One-Plus</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios6" value="vivo" type="radio" onchange="this.form.submit();">
                                            <label for="Radios6">Vivo</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios7" value="fastrak" type="radio" onchange="this.form.submit();">
                                            <label for="Radios7">Fastrak</label>
                                        </div>
                                    </li>

                                    {% elif brand == 'vivo' %}
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios1" value="all" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios1" >All </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios2" value="adidas" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios2">Adidas </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios3" value="sony" type="radio" onchange="this.form.submit();">
                                            <label for="Radios3">Sony</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios4" value="canvas" type="radio" onchange="this.form.submit();">
                                            <label for="Radios4">Canvas</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios5" value="onepluse" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios5">One-Plus</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios6" value="vivo" type="radio" onchange="this.form.submit();" checked>
                                            <label for="Radios6">Vivo</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios7" value="fastrak" type="radio" onchange="this.form.submit();">
                                            <label for="Radios7">Fastrak</label>
                                        </div>
                                    </li>

                                    {% elif brand == 'fastrak' %}
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios1" value="all" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios1" >All </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios2" value="adidas" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios2">Adidas </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios3" value="sony" type="radio" onchange="this.form.submit();">
                                            <label for="Radios3">Sony</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios4" value="canvas" type="radio" onchange="this.form.submit();">
                                            <label for="Radios4">Canvas</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios5" value="onepluse" type="radio" onchange="this.form.submit();">
                                            <label for="Radios5">One-Plus</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios6" value="vivo" type="radio" onchange="this.form.submit();">
                                            <label for="Radios6">Vivo</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios7" value="fastrak" type="radio" onchange="this.form.submit();" checked>
                                            <label for="Radios7">Fastrak</label>
                                        </div>
                                    </li>

                                    {% else %}
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios1" value="all" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios1" >All </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios2" value="adidas" type="radio" onchange="this.form.submit();" >
                                            <label for="Radios2">Adidas </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios3" value="sony" type="radio" onchange="this.form.submit();">
                                            <label for="Radios3">Sony</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios4" value="canvas" type="radio" onchange="this.form.submit();">
                                            <label for="Radios4">Canvas</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios5" value="onepluse" type="radio" onchange="this.form.submit();">
                                            <label for="Radios5">One-Plus</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios6" value="vivo" type="radio" onchange="this.form.submit();">
                                            <label for="Radios6">Vivo</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio radio-danger">
                                            <input name="brand" id="Radios7" value="fastrak" type="radio" onchange="this.form.submit();">
                                            <label for="Radios7">Fastrak</label>
                                        </div>
                                    </li>

                                    

                                    {% endif %}
                                </ul>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <form method="post" action="{% url 'range_category' %}">
                                        {% csrf_token %}
                                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD" name="range_category" onchange="this.form.submit();">
                                    
                                    {% if range_category == "1" %}
                                    <option value="0">-------------All-------------</option>
                                    <option value="1" selected>Latest</option>
                                    <option value="2">High Price → Low Price</option>
                                    <option value="3">Low Price → High Price</option>
                                    {% elif range_category == "2" %}
                                    <option value="0">-------------All-------------</option>
                                    <option value="1" >Latest</option>
                                    <option value="2" selected>High Price → Low Price</option>
                                    <option value="3">Low Price → High Price</option>
                                    {% elif range_category == "3" %}
                                    <option value="0">-------------All-------------</option>
                                    <option value="1" >Latest</option>
                                    <option value="2">High Price → Low Price</option>
                                    <option value="3"  selected>Low Price → High Price</option>
                                    {% else %}
                                    <option value="0">-------------All-------------</option>
                                    <option value="1" >Latest</option>
                                    <option value="2">High Price → Low Price</option>
                                    <option value="3">Low Price → High Price</option>
                                    {% endif %}



								</select>
                                </form>
                                </div>
                                
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">

                                        {% if lenth == 0 %}
                                        <h2 style="margin-left: 300px; color: green;">No Product Found</h2>
                                        {% else %}
                                        {% for i in product %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="{{i.product_image.url}}" class="img-fluid" alt="Image" style="height: 200px;">
                                                   {% if request.session.email %}

                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="{% url 'buyer_product_detail' pk=i.pk %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            
                                                            <li><a href="{% url 'add_to_wishlist' pk=i.pk %}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="{% url 'add_to_cart' pk=i.pk %}">Add to Cart</a>

                                                    </div>
                                                    {% else %}
                                                      <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="{% url 'buyer_product_detail' pk=i.pk %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            
                                                            <li><a href="{% url 'login'  %}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="{% url 'login'  %}">Add to Cart</a>

                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{i.product_name}}</h4>
                                                    <h5> <del style="color: red;">₹{{i.product_price}}+{{i.product_discount}}</del> ₹{{i.product_price}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        
                                        

                                        
                                    
                                        
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    <div class="list-view-box">
                                        {% for i in product %}
                                        <div class="row">

                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src="{{i.product_image.url}}" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="{% url 'buyer_product_detail' pk=i.pk %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                {% if i in pw %}
                                                                <li><a href="{% url 'remove_from_wishlist' pk=i.pk %}" data-toggle="tooltip" data-placement="right" title="Remove to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'add_to_wishlist' pk=i.pk %}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                {% endif %}
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>{{i.product_name}}</h4>
                                                    <h5> <del>₹{{i.product_price}}+{{i.product_discount}}</del>₹{{i.product_price}}</h5>
                                                    <p>{{i.product_discription}}</p>
                                                    {% if request.session.email %}
                                                    {% if i in pc %}
                                                    <a class="btn hvr-hover" href="{% url 'remove_from_cart' pk=i.pk %}">Remove to Cart</a>
                                                    {% else %}
                                                    <a class="btn hvr-hover" href="{% url 'add_to_cart' pk=i.pk %}">Add to Cart</a>
                                                    {% endif %}
                                                    {% else %}
                                                    <a class="btn hvr-hover" href="{% url 'login' %}">Add to Cart</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    
</body>

</html>
{% endblock %}