{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    

</head>

<body style="background-color: lightblue;">


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        
            <div class="row">
                    <div class="right-product-box" style="width: 1200px; margin-left:100px;">
                        <div class="product-item-filter row">
                            
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li style="margin-left: -390px; position: absolute;">
                                        <a class="nav-link active" href="{% url 'view_product' %}"  data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li style="margin-left: -350px;">
                                        <a class="nav-link" href="{% url 'all' %}" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>      
                                <div class="row">
                                        {% for i in products %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Sale</p>
                                                    </div>
                                                    <img src="{{i.product_image.url}}" class="img-fluid" alt="Image" style="width:400px; height: 400px;">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            
                                                        </ul>
                                                        <a class="cart" href="{% url 'detail_product' pk=i.pk %}">View</a>
                                                    </div>
                                                </div>
                                                <div class="why-text" style="width: 420px; ">
                                                    <h4>{{i.product_name}}</h4>
                                                    <h5>Rs. {{i.product_price}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}     
                                    </div>
                            </div>
                        </div>

                    </div>
                
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    
</body>

</html>
{% endblock %}